.navbar {
  justify-content: flex-end;

  &.navbar-expand-lg {
    padding: 0;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 100%;
    width: 100%;

    .nav-item {
      flex-basis: 50%;
      width: 50%;
      text-align: center;
      transition: all $highSp ease-in-out;
      padding-top: 0.7rem;

      @include respond-to('mobile') {
        flex-basis: 15%;
        width: 15%;
      };

      &:hover {
        background-color: transparentize($white, 0.9);
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 0.4rem;
        border-bottom: 2px solid lighten($darkImperialBlue, 15%);
        transform-origin: 0% 100%;
        transform: scale(0);
        transition: all 0.3s linear;
      }

      &.active {
        .nav-link {
          color: lighten($darkImperialBlue, 15%);
        }
      }

      &:hover::after, &.active::after {
        transform: scale(1);
      }

      .nav-link {
        color: lighten($white, 20%);
        font-family: $headersFont;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0;

        &:hover, &:focus {
          color: lighten($darkImperialBlue, 15%);
        }
      }
    }
  } // navbar-nav ends
}
