.projects-page {
  width: 100%;

  h2 {
    color: $white;
    font-family: sans-serif;
    text-align: center;
    font-family: $secondaryFont;
    font-size: 4rem;
    text-transform: capitalize;
    margin-top: 4rem;
  }
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem 0;
    margin: auto;


    @include respond-to('tablet') {
      justify-content: space-between;
    }

    .project {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 500ms ease-in-out;
      min-height: 400px;
      width: 100%;
      flex-basis: 30%;
      margin-bottom: 1rem;

      @include respond-to('tablet') {
        width: 47%;
        flex-basis: 47%;
      }

      @include respond-to('mobile') {
        width: 49%;
        flex-basis: 49%;
      }

      &:nth-child(odd) {
        .project-content {
          &:hover {
            transform: perspective(2000px) rotate(-7deg) translateX(-10%);
            z-index: 99;
            box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);

            @include respond-to('tablet') {
              transform: perspective(2000px) rotate(-8deg) translateX(100%);
            }
  
            @include respond-to('mobile') {
              transform: perspective(2000px) rotate(-10deg) translateX(90%);
              z-index: 99;
            }
  
            .img-box {
              transform: rotateY(-135deg);
            }
          }
        }
      }

      &:nth-child(even) {
        .project-content {
          &:hover {
            transform: perspective(2000px) rotate(-7deg) translateX(50%);
            z-index: 99;
            box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);

            @include respond-to('tablet') {
              transform: perspective(2000px) rotate(-8deg) translateX(10%);
              z-index: 99;
            }
  
            @include respond-to('mobile') {
              transform: perspective(2000px) rotate(-10deg) translateX(-10%);
              z-index: 99;
            }
  
            .img-box {
              transform: rotateY(-135deg);
            }
          }
        }
      }

      .project-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-basis: auto;
        margin-bottom: 0.7rem;
        position: absolute;
        width: 300px;
        height: 400px;
        z-index: 90;
        background-color: #fff;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        transition: 1000ms ease-in-out;

        // &:before {
        //   content: '';
        //   position: absolute;
        //   top: -5px;
        //   left: 0;
        //   width: 100%;
        //   height: 5px;
        //   background: linear-gradient(to bottom, rgba(255, 253, 228, 0.7), rgba(0, 89, 167, 0.8));
        //   transform-origin: bottom;
        //   transform: skewX(-45deg);
        // }

        // &:after {
        //   content: '';
        //   position: absolute;
        //   top: 0px;
        //   right: -5px;
        //   width: 5px;
        //   height: 100%;
        //   transform: skewY(-50deg);
        //   transform-origin: left;
        //   background: linear-gradient(to bottom, rgba(255, 253, 228, 0.7), rgba(0, 89, 167, 0.8));
        // }

        .img-box {
          width: 100%;
          height: 100%;
          position: relative;
          transform-origin: left;
          transition: 1000ms ease-in-out;
          
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to top, rgba(255, 253, 228, 0.3), rgba(0, 89, 167, 0.2));
          }

          img {
            height: 100%;
          }
        }

        .content {
          position: absolute;
          top: 0;
          z-index: -1;
          padding: 0.5rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: left;

          a {
            margin: 0;
          }
      
        }
  
        .fas {
          display: block;
          margin: auto;
          font-size: 4rem;
        }
  
        .project-name {
          font-size: 1rem;
          font-weight: 500;
          font-family: $mainFont;
          color: lighten($darkImperialBlue, 15%);
          margin-top: 1rem;
        }
  
        .project-desc {
          font-size: 0.9rem;
          flex-basis: 25%;
        }
  
        .technologies {
          padding-bottom: 1rem;
          margin-top: auto;
          flex-basis: 25%;
  
          @include respond-to('mobile') {
            border: none;
          };
  
          .tools {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .tech {
              flex-basis: 33.33333%;
              width: 33.33333%;
              text-align: center;

              p.express {
                font-size: 1.9em;
                line-height: 1.4em;
              }
    
              .tech-image {
                display: block;
                margin: auto;
                width: 60px;
                height: 50px;
              }

              .tech-icon {
                font-size: 3.5rem;
              }
            }
          }
  
  
          h6 {
            margin-bottom: 1rem;
          }
  
          p {
            font-size: 0.8rem;
            color: #000;
            font-weight: 300;
            text-align: center;
          }
        }
      }
    }

}

}