@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Montserrat:300,400,500,600|Muli:300,400,600,700|PT+Sans+Narrow:400,700");
.navbar {
  justify-content: flex-end; }
  .navbar.navbar-expand-lg {
    padding: 0; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 100%;
    width: 100%; }
    .navbar .navbar-nav .nav-item {
      flex-basis: 33%;
      width: 33%;
      text-align: center;
      transition: all 0.35s ease-in-out;
      padding-top: 0.7rem; }
      @media (min-width: 767px) {
        .navbar .navbar-nav .nav-item {
          flex-basis: 15%;
          width: 15%; } }
      .navbar .navbar-nav .nav-item:hover {
        background-color: rgba(255, 248, 240, 0.1); }
      .navbar .navbar-nav .nav-item:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 0.4rem;
        border-bottom: 2px solid #0e73a2;
        transform-origin: 0% 100%;
        transform: scale(0);
        transition: all 0.3s linear; }
      .navbar .navbar-nav .nav-item.active .nav-link {
        color: #0e73a2; }
      .navbar .navbar-nav .nav-item:hover::after, .navbar .navbar-nav .nav-item.active::after {
        transform: scale(1); }
      .navbar .navbar-nav .nav-item .nav-link {
        color: white;
        font-family: "PT Sans Narrow", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0; }
        .navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:focus {
          color: #0e73a2; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 90vh; }
  .hero .about-me {
    display: flex;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff8f0;
    font-family: "Muli", sans-serif; }
    .hero .about-me .title {
      margin-top: 2rem;
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 2rem; }
      @media (min-width: 992px) {
        .hero .about-me .title {
          font-size: 4rem; } }
      .hero .about-me .title .name {
        color: #1083ba; }
    .hero .about-me .front-end {
      font-size: 1rem; }
      @media (min-width: 992px) {
        .hero .about-me .front-end {
          font-size: 2.8rem; } }
    .hero .about-me .about-btn {
      background-color: transparent;
      padding: 0.9rem 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: #fff8f0;
      border: none;
      outline: 0;
      position: relative;
      cursor: pointer;
      text-decoration: none; }
      @media (min-width: 992px) {
        .hero .about-me .about-btn {
          font-size: 1.2rem; } }
      .hero .about-me .about-btn .fa-arrow-right {
        transition: all 0.3s ease;
        margin: 0.3rem; }
      .hero .about-me .about-btn:hover .fa-arrow-right {
        color: #1083ba;
        border-color: #1083ba; }
      .hero .about-me .about-btn:hover::after, .hero .about-me .about-btn:hover::before {
        transform: scale(1);
        opacity: 1; }
      .hero .about-me .about-btn:before, .hero .about-me .about-btn:after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: all 0.5s ease-in; }
      .hero .about-me .about-btn:before {
        border-bottom: 1px solid #1083ba;
        border-left: 1px solid #1083ba;
        transform-origin: 100% 0%; }
      .hero .about-me .about-btn:after {
        border-top: 1px solid #1083ba;
        border-right: 1px solid #1083ba;
        transform-origin: 0% 100%; }

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1rem 0; }
  .about .about-content {
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column; }
    .about .about-content .skill {
      display: flex;
      align-items: flex-end;
      margin-top: 1rem; }
      .about .about-content .skill .skill-img img {
        display: block;
        height: 55px;
        width: 55px;
        flex-basis: 60px;
        margin: auto;
        object-fit: contain; }
      .about .about-content .skill .skill-name {
        color: #fff8f0;
        font-size: 1.2rem;
        font-weight: 400;
        flex-basis: 50%;
        margin-left: 1rem; }
  .about h2 {
    font-family: "Montserrat", sans-serif;
    color: #0e73a2; }
  .about p {
    color: #fff8f0;
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 1px; }

.projects {
  color: #fff8f0;
  padding: 2rem 1rem 0; }
  .projects h2 {
    color: #0e73a2;
    font-family: "Montserrat", sans-serif; }
  .projects .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0.7rem; }
    .projects .project .fas {
      display: block;
      margin: auto;
      font-size: 4rem; }
    .projects .project .project-name {
      font-size: 1rem;
      font-weight: 500;
      font-family: "Muli", sans-serif;
      color: #0e73a2;
      margin-top: 1rem; }
    .projects .project .project-desc {
      font-size: 0.9rem;
      margin-top: 1rem;
      flex-basis: 25%; }
    .projects .project .technologies {
      padding-bottom: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #0c628b;
      flex-basis: 25%; }
      @media (min-width: 767px) {
        .projects .project .technologies {
          border: none; } }
      .projects .project .technologies .tech {
        flex-basis: 33.33333%;
        width: 33.33333%; }
        .projects .project .technologies .tech .tech-image {
          display: block;
          margin: auto;
          width: 60px;
          height: 50px; }
      .projects .project .technologies h6 {
        margin-bottom: 1rem; }
      .projects .project .technologies p {
        font-size: 0.8rem;
        color: #fff8f0;
        font-weight: 300;
        text-align: center; }

.footer {
  display: block; }
  .footer ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-basis: 100%;
    width: 100%; }
    .footer ul li {
      margin: 0.9rem;
      font-size: 1.8rem; }
      .footer ul li a {
        color: #fff8f0;
        transition: color 0.5s ease; }
        .footer ul li a:hover {
          color: #0a5273; }

/*******************
GENERAL
*******************/
body {
  margin: 0;
  padding: 0;
  background-color: #0e0d0c !important; }

img {
  max-width: 100%; }

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; }

/*******************
FadeIn
*******************/
.FadeIn-appear {
  opacity: 0.01; }

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.FadeIn-enter {
  opacity: 0.01; }

.FadeIn-enter.FadeIn-enter-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.FadeIn-leave {
  transform: translateY(-3rem); }

.FadeIn-leave.FadeIn-leave-active {
  opacity: 0;
  transition: all 500ms ease-out; }

/*******************
SlideIn
*******************/
.SlideIn-appear {
  transform: translateY(2rem);
  opacity: 0.01; }

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in; }

.SlideIn-enter {
  transform: translateY(2rem);
  opacity: 0.01; }

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in; }

.SlideIn-leave {
  opacity: 1;
  transform: translateY(-2rem); }

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  transition: all 700ms ease-out; }

/*******************
SlideDown
*******************/
.SlideDown-appear {
  opacity: 0;
  transform: translateY(-2rem); }

.SlideDown-appear.SlideDown-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear; }

.SlideDown-enter {
  opacity: 0;
  transform: translateY(-2rem); }

.SlideDown-enter.SlideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear; }

.SlideDown-leave {
  opacity: 1;
  transform: translateY(2rem); }

.SlideDown-leave.SlideDown-leaved-active {
  opacity: 0;
  transform: translateY(0);
  transition: all 600ms linear; }

/*# sourceMappingURL=App.css.map */
