@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Montserrat:300,400,500,600|Muli:300,400,600,700|PT+Sans+Narrow:400,700");
.navbar {
  background-color: #0e73a2; }
  .navbar.navbar-expand-lg {
    padding: 0; }
  .navbar .hamburger-btn {
    flex-basis: 53px;
    width: 53px;
    height: 45px;
    margin: 0.5rem;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer; }
    @media (min-width: 767px) {
      .navbar .hamburger-btn {
        display: none; } }
    .navbar .hamburger-btn span {
      display: block;
      position: absolute;
      height: 6px;
      width: 100%;
      background: white;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.35s ease-in-out; }
      .navbar .hamburger-btn span:nth-child(1), .navbar .hamburger-btn span:nth-child(2), .navbar .hamburger-btn span:nth-child(3) {
        transform-origin: left center; }
      .navbar .hamburger-btn span:nth-child(1) {
        top: 5px; }
      .navbar .hamburger-btn span:nth-child(2) {
        top: 17px; }
      .navbar .hamburger-btn span:nth-child(3) {
        top: 29px; }
    .navbar .hamburger-btn.open span:nth-child(1) {
      transform: rotate(45deg);
      top: -3px;
      left: 8px; }
    .navbar .hamburger-btn.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .navbar .hamburger-btn.open span:nth-child(3) {
      transform: rotate(-45deg);
      top: 35px;
      left: 8px; }
  .navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    flex-basis: 100%;
    width: 100%; }
    .navbar .navbar-nav .nav-item {
      flex-basis: 15%;
      text-align: center;
      transition: all 0.35s ease-in-out;
      padding-top: 1rem;
      margin-right: 1%; }
      .navbar .navbar-nav .nav-item:hover {
        background-color: rgba(255, 248, 240, 0.1); }
      .navbar .navbar-nav .nav-item:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        border-bottom: 2px solid #95153f;
        transform-origin: 0% 100%;
        transform: scale(0);
        transition: all 0.3s linear; }
      .navbar .navbar-nav .nav-item:hover::after, .navbar .navbar-nav .nav-item.active::after {
        transform: scale(1); }
      .navbar .navbar-nav .nav-item .nav-link {
        color: white;
        font-family: "Muli", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 0; }
        .navbar .navbar-nav .nav-item .nav-link:hover {
          color: #d81e5b; }

.hero {
  background-color: #211e1d !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh; }
  .hero .about-me {
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff8f0;
    font-family: "Muli", sans-serif;
    height: 800px; }
    .hero .about-me .profile-image {
      display: flex;
      width: 270px;
      height: 270px;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 1rem;
      overflow: hidden;
      border-radius: 50%; }
      .hero .about-me .profile-image img {
        position: absolute;
        transform: scale(1.9);
        top: 110px;
        right: 20px; }
    .hero .about-me .title {
      margin-top: 2rem;
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 4rem; }
      .hero .about-me .title .name {
        color: #1083ba; }
    .hero .about-me .about-me-context {
      font-size: 2.8rem; }
    .hero .about-me .about-btn {
      background-color: transparent;
      padding: 0.9rem 2rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: #fff8f0;
      border: none;
      outline: 0;
      position: relative;
      cursor: pointer; }
      .hero .about-me .about-btn .fa-arrow-right {
        transition: all 0.3s ease;
        padding: 0.25rem;
        margin-left: 0.5rem;
        border: 1px solid #fff8f0;
        border-radius: 50%; }
      .hero .about-me .about-btn:hover .fa-arrow-right {
        color: #1083ba;
        border-color: #1083ba; }
      .hero .about-me .about-btn:hover::after, .hero .about-me .about-btn:hover::before {
        transform: scale(1);
        opacity: 1; }
      .hero .about-me .about-btn:before, .hero .about-me .about-btn:after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: all 0.3s ease-in; }
      .hero .about-me .about-btn:before {
        border-bottom: 2px solid #1083ba;
        border-left: 2px solid #1083ba;
        transform-origin: 100% 0%; }
      .hero .about-me .about-btn:after {
        border-top: 2px solid #1083ba;
        border-right: 2px solid #1083ba;
        transform-origin: 0% 100%; }

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
body {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/*******************
FadeIn
*******************/
.FadeIn-appear {
  opacity: 0; }

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 3000ms linear; }

.FadeIn-leave {
  opacity: 1; }

.FadeIn-leave.FadeIn-leave-active {
  opacity: 0;
  transition: all 3000ms linear; }

/*******************
SlideIn
*******************/
.SlideIn-appear {
  transform: translateY(3rem);
  opacity: 0; }

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms linear; }

.SlideIn-leave {
  opacity: 1;
  transform: translateY(-3rem); }

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  transform: translateX(15%);
  transition: all 200ms linear; }

/*# sourceMappingURL=App.css.map */
