@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Montserrat:300,400,500,600|Muli:300,400,600,700|PT+Sans+Narrow:400,700');
@import "./mixins/Mixins";
@import "./variables/Variables";
@import "./components/Navigation";
@import "./components/Hero";
@import "./components/About";
@import "./components/Projects";
@import "./components/Footer";

/*******************
GENERAL
*******************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 12, 64, 0.7), rgba(240, 242, 240, 0.5)), url(../images/portland.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/*******************
FadeIn
*******************/

.FadeIn-appear {
  opacity: 0.01;
}

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.FadeIn-enter {
  opacity: 0.01;
}

.FadeIn-enter.FadeIn-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.FadeIn-leave {
    transform: translateY(-3rem);
}

.FadeIn-leave.FadeIn-leave-active {
    opacity: 0;
    transition: all 500ms ease-out;
}


/*******************
SlideIn
*******************/
.SlideIn-appear {
  transform: translateY(2rem);
  opacity: 0.01;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in;
}

.SlideIn-enter {
  transform: translateY(2rem);
  opacity: 0.01;
}

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in;
}

.SlideIn-leave {
    opacity: 1;
    transform: translateY(-2rem);
}

.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    transition: all 700ms ease-out;
}

/*******************
SlideDown
*******************/
.SlideDown-appear {
  opacity: 0;
  transform: translateY(-2rem);
}

.SlideDown-appear.SlideDown-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear;
}

.SlideDown-enter {
  opacity: 0;
  transform: translateY(-2rem);
}

.SlideDown-enter.SlideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear;
}

.SlideDown-leave {
  opacity: 1;
  transform: translateY(2rem);
}

.SlideDown-leave.SlideDown-leaved-active {
  opacity: 0;
  transform: translateY(0);
  transition: all 600ms linear;
}
