@import url('https://fonts.googleapis.com/css?family=Gamja+Flower|Montserrat:300,400,500,600|Muli:300,400,600,700|PT+Sans+Narrow:400,700');
@import "./mixins/Mixins";
@import "./variables/Variables";
@import "./components/Navigation";
@import "./components/Hero";
@import "./components/About";
@import "./components/Footer";

body {
  margin: 0;
  padding: 0;
  background-color: darken($black, 4%) !important;
}

img {
  max-width: 100%;
}

/*******************
FadeIn
*******************/

.FadeIn-appear {
  opacity: 0;
}

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 1500ms linear 500ms;
}

.FadeIn-enter {
  opacity: 0;
}

.FadeIn-enter.FadeIn-enter-active {
  opacity: 1;
  transition: all 1500ms linear 500ms;
}

.FadeIn-leave {
  opacity: 1;
}

.FadeIn-leave.FadeIn-leave-active {
  opacity: 0;
  transition: all 1200ms linear 500ms;
}


/*******************
SlideIn
*******************/
.SlideIn-appear {
  transform: translateY(3rem);
  opacity: 0.01;
}

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.SlideIn-enter {
  transform: translateY(3rem);
  opacity: 0.01;
}

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms ease-in;
}

.SlideIn-leave {
    opacity: 1;
    transform: translateY(-3rem);
}

.SlideIn-leave.SlideIn-leave-active {
    opacity: 0;
    transition: all 500ms ease-out;
}

/*******************
SlideDown
*******************/
.SlideDown-appear {
  opacity: 0;
  transform: translateY(-2rem);
}

.SlideDown-appear.SlideDown-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear;
}

.SlideDown-enter {
  opacity: 0;
  transform: translateY(-2rem);
}

.SlideDown-enter.SlideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear;
}

.SlideDown-leave {
  opacity: 1;
  transform: translateY(2rem);
}

.SlideDown-leave.SlideDown-leaved-active {
  opacity: 0;
  transform: translateY(0);
  transition: all 600ms linear;
}
