@import url("https://fonts.googleapis.com/css?family=Gamja+Flower|Montserrat:300,400,500,600|Muli:300,400,600,700|PT+Sans+Narrow:400,700");
.navigation {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  min-height: 70px;
  width: 70px;
  padding: 0.6rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 10px 10px #030303;
  transition: 500ms ease-in-out;
  animation: pluse 3s linear infinite; }
  .navigation .humburger-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .navigation .humburger-btn span {
      position: absolute;
      height: 5px;
      width: 40px;
      display: block;
      opacity: 1;
      top: 28px;
      left: 15px;
      right: 0;
      z-index: 1;
      background-color: rgba(173, 20, 87, 0.7);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6), inset 0 2px 10px rgba(173, 20, 87, 0.4);
      border-radius: 25px;
      transform: rotate(0deg);
      transition: all 350ms ease-in-out; }
      .navigation .humburger-btn span:nth-child(1) {
        top: 20px; }
      .navigation .humburger-btn span:nth-child(2) {
        top: 32px; }
      .navigation .humburger-btn span:nth-child(3) {
        top: 44px; }
    .navigation .humburger-btn.active span:nth-child(1) {
      top: 32px;
      transform: rotate(50deg); }
    .navigation .humburger-btn.active span:nth-child(2) {
      opacity: 0;
      right: -10px; }
    .navigation .humburger-btn.active span:nth-child(3) {
      top: 32px;
      transform: rotate(-50deg); }
  .navigation .menu {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: transparent;
    z-index: -1;
    transform: scale(0.95); }
    .navigation .menu ul.menu-links {
      position: relative;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 15px; }
      .navigation .menu ul.menu-links li.menu-link {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        padding: 0.4rem 3rem 0;
        list-style: none;
        background-color: rgba(173, 20, 87, 0.9);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        text-transform: capitalize;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
        transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        transform: scale(0.01) perspective(1000px);
        cursor: pointer;
        pointer-events: initial; }
        .navigation .menu ul.menu-links li.menu-link:hover {
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5); }
        .navigation .menu ul.menu-links li.menu-link i.fas {
          font-size: 1.7rem;
          color: #fff8f0; }
        .navigation .menu ul.menu-links li.menu-link a {
          text-decoration: none;
          font-weight: 500;
          font-size: 1.4em;
          text-align: center;
          margin-top: -6px;
          color: #fff8f0;
          font-family: "Montserrat", sans-serif;
          padding: 0.5rem; }
          .navigation .menu ul.menu-links li.menu-link a .link-title {
            display: block;
            margin: 5px 0;
            font-size: 0.9rem;
            font-weight: 500; }
        .navigation .menu ul.menu-links li.menu-link:nth-child(1) {
          transition-delay: 200ms; }
        .navigation .menu ul.menu-links li.menu-link:nth-child(2) {
          transition-delay: 500ms; }
        .navigation .menu ul.menu-links li.menu-link:nth-child(3) {
          transition-delay: 800ms; }
    .navigation .menu.active {
      z-index: 1; }
      .navigation .menu.active li.menu-link:nth-child(1) {
        opacity: 1;
        top: 0%;
        left: -160%;
        transform: scale(1);
        transition-delay: 200ms; }
      .navigation .menu.active li.menu-link:nth-child(2) {
        opacity: 1;
        top: 120%;
        left: -20%;
        transform: scale(1);
        transition-delay: 500ms; }
      .navigation .menu.active li.menu-link:nth-child(3) {
        opacity: 1;
        top: 0%;
        left: 125%;
        transform: scale(1);
        transition-delay: 800ms; }

@keyframes pluse {
  0% {
    box-shadow: 0 0 0 0 rgba(173, 20, 87, 0.9), 0 0 0 0px rgba(173, 20, 87, 0.9); }
  25% {
    box-shadow: 0 0 0 15px rgba(173, 20, 87, 0), 0 0 0 0px rgba(173, 20, 87, 0.9); }
  50% {
    box-shadow: 0 0 0 15px rgba(173, 20, 87, 0), 0 0 0 10px rgba(173, 20, 87, 0); }
  75% {
    box-shadow: 0 0 0 15px rgba(173, 20, 87, 0), 0 0 0 10px rgba(173, 20, 87, 0); }
  100% {
    box-shadow: 0 0 0 15px rgba(173, 20, 87, 0), 0 0 0 10px rgba(173, 20, 87, 0); } }
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 200px;
  position: relative; }
  .hero .profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1000ms ease-in; }
    .hero .profile-img.show {
      opacity: 1;
      transform: translateX(0); }
  .hero .about-me {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    padding: 2rem;
    margin: 0 1rem;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    color: #111;
    font-family: "Muli", sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.8); }
    .hero .about-me .title {
      margin-top: 2rem;
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 5rem;
      margin: 0; }
      @media (max-width: 992px) {
        .hero .about-me .title {
          font-size: 4rem; } }
    .hero .about-me .name {
      font-size: 5rem;
      color: rgba(173, 20, 87, 0.9); }
    .hero .about-me .front-end {
      font-size: 2.5rem;
      margin: 0; }
      @media (max-width: 992px) {
        .hero .about-me .front-end {
          font-size: 2.8rem; } }
    .hero .about-me .about-btn {
      background-color: transparent;
      padding: 0.9rem 1.5rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: #fff8f0;
      border: none;
      outline: 0;
      position: relative;
      cursor: pointer;
      text-decoration: none; }
      @media (max-width: 992px) {
        .hero .about-me .about-btn {
          font-size: 1.2rem; } }
      .hero .about-me .about-btn .fa-arrow-right {
        transition: all 0.5s ease;
        margin: 0.3rem; }
      .hero .about-me .about-btn:hover .fa-arrow-right {
        color: #1083ba;
        border-color: #1083ba; }
      .hero .about-me .about-btn:hover::after, .hero .about-me .about-btn:hover::before {
        transform: scale(1);
        opacity: 1; }
      .hero .about-me .about-btn:before, .hero .about-me .about-btn:after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        transition: all 0.35s ease-in; }
      .hero .about-me .about-btn:before {
        border-bottom: 1px solid #1083ba;
        border-left: 1px solid #1083ba;
        transform-origin: 100% 0%; }
      .hero .about-me .about-btn:after {
        border-top: 1px solid #1083ba;
        border-right: 1px solid #1083ba;
        transform-origin: 0% 100%; }

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 4rem auto 0;
  padding: 2rem 1rem 0;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8); }
  .about .about-content {
    display: flex;
    flex-direction: column;
    color: #000;
    max-width: 600px;
    z-index: 1000;
    color: #000;
    padding: 1rem; }
    .about .about-content h2 {
      font-family: "Montserrat", sans-serif;
      color: #000;
      text-transform: capitalize; }
    .about .about-content p {
      color: #000;
      line-height: 25px;
      font-size: 1.1rem; }
    .about .about-content .skills {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      z-index: -2; }
      .about .about-content .skills .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-basis: 25%;
        width: 25%;
        padding: 0.5rem;
        margin-top: 1%;
        border-radius: 15px; }
        .about .about-content .skills .skill:nth-child(5) .skill-img {
          position: relative; }
          .about .about-content .skills .skill:nth-child(5) .skill-img:before {
            content: '';
            height: 40px;
            width: 40px;
            border-radius: 5px;
            bottom: 4px;
            left: 1px;
            background-color: #000;
            position: absolute;
            z-index: -1; }
        .about .about-content .skills .skill .skill-img i {
          font-size: 3rem;
          border-radius: 3px; }
          .about .about-content .skills .skill .skill-img i.fa-react {
            background-color: #222;
            color: #61dafb;
            padding: 0.5rem; }
          .about .about-content .skills .skill .skill-img i.fa-vuejs {
            color: #41b883; }
          .about .about-content .skills .skill .skill-img i.fa-angular {
            color: #c30e2e; }
          .about .about-content .skills .skill .skill-img i.fa-sass {
            color: #cd6799; }
          .about .about-content .skills .skill .skill-img i.fa-js-square {
            color: #e8d44d; }
          .about .about-content .skills .skill .skill-img i.fa-css3-alt {
            color: #264de4; }
          .about .about-content .skills .skill .skill-img i.fa-html5 {
            color: #ef6023; }
        .about .about-content .skills .skill .skill-img img {
          display: block;
          height: 55px;
          width: 55px;
          flex-basis: 60px;
          margin: auto;
          object-fit: contain; }
        .about .about-content .skills .skill .skill-name {
          color: #000;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0.4rem;
          margin-top: auto;
          font-family: "Gamja Flower", cursive; }
  .about h2 {
    font-family: "Montserrat", sans-serif;
    color: #0e73a2; }
  .about p {
    color: #fff8f0;
    font-family: "Muli", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.4rem;
    letter-spacing: 1px; }

.projects-page {
  width: 100%; }
  .projects-page h2 {
    color: #fff8f0;
    font-family: sans-serif;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    text-transform: capitalize;
    margin-top: 4rem; }
  .projects-page .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    padding: 2rem 1rem 0;
    margin: auto; }
    @media (max-width: 992px) {
      .projects-page .projects {
        justify-content: space-between; } }
    .projects-page .projects .project {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 500ms ease-in-out;
      min-height: 400px;
      width: 100%;
      flex-basis: 30%;
      margin-bottom: 1rem; }
      @media (max-width: 992px) {
        .projects-page .projects .project {
          width: 47%;
          flex-basis: 47%; } }
      @media (max-width: 767px) {
        .projects-page .projects .project {
          width: 49%;
          flex-basis: 49%; } }
      .projects-page .projects .project:nth-child(odd) .project-content:hover {
        transform: perspective(2000px) rotate(-7deg) translateX(-10%);
        z-index: 99;
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5); }
        @media (max-width: 992px) {
          .projects-page .projects .project:nth-child(odd) .project-content:hover {
            transform: perspective(2000px) rotate(-8deg) translateX(100%); } }
        @media (max-width: 767px) {
          .projects-page .projects .project:nth-child(odd) .project-content:hover {
            transform: perspective(2000px) rotate(-10deg) translateX(90%);
            z-index: 99; } }
        .projects-page .projects .project:nth-child(odd) .project-content:hover .img-box {
          transform: rotateY(-135deg); }
      .projects-page .projects .project:nth-child(even) .project-content:hover {
        transform: perspective(2000px) rotate(-7deg) translateX(50%);
        z-index: 99;
        box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5); }
        @media (max-width: 992px) {
          .projects-page .projects .project:nth-child(even) .project-content:hover {
            transform: perspective(2000px) rotate(-8deg) translateX(10%);
            z-index: 99; } }
        @media (max-width: 767px) {
          .projects-page .projects .project:nth-child(even) .project-content:hover {
            transform: perspective(2000px) rotate(-10deg) translateX(-10%);
            z-index: 99; } }
        .projects-page .projects .project:nth-child(even) .project-content:hover .img-box {
          transform: rotateY(-135deg); }
      .projects-page .projects .project .project-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-basis: auto;
        margin-bottom: 0.7rem;
        position: absolute;
        width: 300px;
        height: 400px;
        z-index: 90;
        background-color: #fff;
        transform-style: preserve-3d;
        transform: perspective(2000px);
        box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        transition: 1000ms ease-in-out; }
        .projects-page .projects .project .project-content .img-box {
          width: 100%;
          height: 100%;
          position: relative;
          transform-origin: left;
          transition: 1000ms ease-in-out; }
          .projects-page .projects .project .project-content .img-box:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: linear-gradient(to top, rgba(255, 253, 228, 0.3), rgba(0, 89, 167, 0.2)); }
          .projects-page .projects .project .project-content .img-box img {
            height: 100%; }
        .projects-page .projects .project .project-content .content {
          position: absolute;
          top: 0;
          z-index: -1;
          padding: 0.5rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: left; }
          .projects-page .projects .project .project-content .content a {
            margin: 0; }
        .projects-page .projects .project .project-content .fas {
          display: block;
          margin: auto;
          font-size: 4rem; }
        .projects-page .projects .project .project-content .project-name {
          font-size: 1rem;
          font-weight: 500;
          font-family: "Muli", sans-serif;
          color: #0e73a2;
          margin-top: 1rem; }
        .projects-page .projects .project .project-content .project-desc {
          font-size: 0.9rem;
          flex-basis: 25%; }
        .projects-page .projects .project .project-content .technologies {
          padding-bottom: 1rem;
          margin-top: auto;
          flex-basis: 25%; }
          @media (max-width: 767px) {
            .projects-page .projects .project .project-content .technologies {
              border: none; } }
          .projects-page .projects .project .project-content .technologies .tools {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; }
            .projects-page .projects .project .project-content .technologies .tools .tech {
              flex-basis: 33.33333%;
              width: 33.33333%;
              text-align: center; }
              .projects-page .projects .project .project-content .technologies .tools .tech p.express {
                font-size: 1.9em;
                line-height: 1.4em; }
              .projects-page .projects .project .project-content .technologies .tools .tech .tech-image {
                display: block;
                margin: auto;
                width: 60px;
                height: 50px; }
              .projects-page .projects .project .project-content .technologies .tools .tech .tech-icon {
                font-size: 3.5rem; }
          .projects-page .projects .project .project-content .technologies h6 {
            margin-bottom: 1rem; }
          .projects-page .projects .project .project-content .technologies p {
            font-size: 0.8rem;
            color: #000;
            font-weight: 300;
            text-align: center; }

.footer {
  display: block;
  height: 130px;
  margin-top: 100px; }
  .footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100000;
    padding: 0;
    margin: 0 auto;
    height: 100%;
    width: 240px;
    list-style: none; }
    .footer ul li {
      list-style: none;
      margin: 0 40px; }
      .footer ul li a {
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        background: #fff;
        text-align: center;
        transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
        transition: 500ms cubic-bezier(0.4, 0, 1, 1);
        box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); }
        .footer ul li a:before {
          content: '';
          position: absolute;
          top: 10px;
          left: -20px;
          height: 100%;
          width: 20px;
          background-color: #b1b1b1;
          transition: 500ms ease;
          transform: rotate(0deg) skewY(-45deg); }
        .footer ul li a:after {
          content: '';
          position: absolute;
          bottom: -20px;
          left: -10px;
          height: 20px;
          width: 100%;
          background-color: #b1b1b1;
          transition: 500ms ease;
          transform: rotate(0deg) SkewX(-45deg); }
        .footer ul li a:hover {
          transform: perspective(10px) rotate(-30deg) skew(25deg) translate(20px, -20px);
          box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.8); }
        .footer ul li a .fab {
          font-size: 25px;
          color: #262626;
          line-height: 45px;
          transition: 500ms ease; }
      .footer ul li:nth-child(1) a:hover {
        background-color: #0077b5; }
        .footer ul li:nth-child(1) a:hover .fab {
          color: #fff8f0; }
        .footer ul li:nth-child(1) a:hover:before, .footer ul li:nth-child(1) a:hover:after {
          background-color: #0077b5; }
      .footer ul li:nth-child(2) a:hover {
        background-color: #24292e; }
        .footer ul li:nth-child(2) a:hover .fab {
          color: #fff8f0; }
        .footer ul li:nth-child(2) a:hover::before, .footer ul li:nth-child(2) a:hover:after {
          background-color: #24292e; }
      .footer ul li:nth-child(3) a:hover {
        background-color: #dc4e41; }
        .footer ul li:nth-child(3) a:hover .fab {
          color: #fff8f0; }
        .footer ul li:nth-child(3) a:hover::before, .footer ul li:nth-child(3) a:hover:after {
          background-color: #dc4e41; }
  .footer p {
    font-family: "Gamja Flower", cursive;
    text-align: center;
    font-size: 2rem; }

/*******************
GENERAL
*******************/
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgba(0, 12, 64, 0.7), rgba(240, 242, 240, 0.9)), url(../images/portland.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; }

.main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem; }

.main > * {
  width: 100%; }

img {
  max-width: 100%; }

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }

/*******************
FadeIn
*******************/
.FadeIn-appear {
  opacity: 0.01; }

.FadeIn-appear.FadeIn-appear-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.FadeIn-enter {
  opacity: 0.01; }

.FadeIn-enter.FadeIn-enter-active {
  opacity: 1;
  transition: all 500ms ease-in; }

.FadeIn-leave {
  transform: translateY(-3rem); }

.FadeIn-leave.FadeIn-leave-active {
  opacity: 0;
  transition: all 500ms ease-out; }

/*******************
SlideIn
*******************/
.SlideIn-appear {
  transform: translateY(2rem);
  opacity: 0.01; }

.SlideIn-appear.SlideIn-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in; }

.SlideIn-enter {
  transform: translateY(2rem);
  opacity: 0.01; }

.SlideIn-enter.SlideIn-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 700ms ease-in; }

.SlideIn-leave {
  opacity: 1;
  transform: translateY(-2rem); }

.SlideIn-leave.SlideIn-leave-active {
  opacity: 0;
  transition: all 700ms ease-out; }

/*******************
SlideDown
*******************/
.SlideDown-appear {
  opacity: 0;
  transform: translateY(-2rem); }

.SlideDown-appear.SlideDown-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear; }

.SlideDown-enter {
  opacity: 0;
  transform: translateY(-2rem); }

.SlideDown-enter.SlideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms linear; }

.SlideDown-leave {
  opacity: 1;
  transform: translateY(2rem); }

.SlideDown-leave.SlideDown-leaved-active {
  opacity: 0;
  transform: translateY(0);
  transition: all 600ms linear; }

/*# sourceMappingURL=App.css.map */
