// COlORS
$darkImperialBlue: #08415c;
$orange: #ff8811;
$darkKomaru: #392f5a;
$dogwoodRose: #d81e5b;


$pink: rgba(173, 20, 87, 0.9);
$white: #fff8f0;
$black: #191716;
$linkedIn: #0077b5;
$google: #dc4e41;
$github: #24292e;
$react: #61dafb;
$vue: #41b883;
$angular: #c30e2e;
$sass: #cd6799;
$javaScript: #e8d44d;
$css: #264de4;
$html: #ef6023;
//FONT

$mainFont: 'Muli', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$logoFont: 'Gamja Flower', cursive;
$headersFont: 'PT Sans Narrow', sans-serif;

// TRANSITION SPEED

$slowSp: 1s;
$medSp: 0.5s;
$highSp: 0.35s;

// MEDIA QUERIES
$breakpoints: (
  'mobile': 767px,
  'tablet': 992px,
  'desktop': 1200px
) !default;
